<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>
</head>

<body>

    <div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/}" class="navbar-brand">TechJobs</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/search}">Search</a></li>
                    <li><a th:href="@{/list}">List</a></li>
                </ul>
            </div>
        </div>
    </div>


    <div th:fragment="search" th:if="${search_items} and ${search_items.size()}">

        <table th:each="item, idx: ${jobs}" class="job-listing">
            <tbody th:class="${idx.odd} ? 'odd'">
            <tr th:each="i : ${item}">
                <td th:text="${columns.get(i.key)}"></td>
                <td th:text="${i.value}"></td>
            </tr>
            </tbody>
        </table>
        <br/>

    </div>


</body>
</html>