<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <form th:action="@{/search/results}" method="post">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    <!-- TODO #2 - Loop over jobs map to display all job fields -->


    <div th:if="${search_items} and ${search_items.size()}">

        <table class="job-listing">
            <tbody th:each="item, idx : ${jobs}" th:class="${idx.odd} ? 'odd'">
            <tr th:each="i : ${item}">
                <td th:text="${i.key}"></td>
                <td th:text="${i.value}"></td>
            </tr>
            </tbody>
            <p></p>
        </table>


    </div>

    <p th:unless="${search_items} and ${search_items.size()}">| No Results |</p>

</div>

</body>
</html>